.Overlay{
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Container{
    background-color: #fff;
}

.Form{
    display: flex;
}

.InputField{
    padding: 0 20px;
    height:40px;
    border:1px solid #999;
    margin-right: 10px;
    border-radius: 4px;
}


.InputBtn{
    border:none;
    padding: 0 20px;
    background-color: rgb(24, 138, 39);
    cursor: pointer;
    color:#fff;
    border-radius: 4px;
}