.Container{
    background-color: #fff;
    padding:20px 30px;
    border-bottom: 1px solid #ddd;
}

.Form{
    display: flex;
}

.InputField{
    padding: 0 20px;
    height:40px;
    border:1px solid #999;
    margin-right: 10px;
    border-radius: 4px;
}


.InputBtn{
    border:none;
    padding: 0 20px;
    background-color: rgb(24, 138, 39);
    cursor: pointer;
    color:#fff;
    border-radius: 4px;
}